[Desktop Entry]
Name=Stargus - St*rcr*ft
Comment=St*rcr*ft data game set for the Stratagus engine
Exec=/usr/games/stargus
Icon=stargus
Terminal=false
Type=Application
Categories=Game;StrategyGame;
StartupNotify=false
