Source: stargus
Section: games
Priority: optional
Maintainer: Martin Gerhardy <tlh2000@users.sf.net>
Build-Depends: libpng12-dev (>= 1.2.5), libbz2-dev, liblua5.1-dev, debhelper (>> 4.0.0)
Standards-Version: 3.6.1

Package: stargus
Architecture: any
Depends: stratagus, ${shlibs:Depends}
Description: stargus is a game set for the Stratagus engine.
 Stargus can be used to play Starcraft from Blizzard Entertainment.
 .
 You need the original Starcraft CD to extract the game data files.
