#!/usr/bin/make -f
#
#    debian/rules
#    Copyright (C) 2010  Pali Rohár <pali.rohar@gmail.com>
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 2 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
#

include /usr/share/cdbs/1/rules/debhelper.mk

VERSION := $(shell dpkg-parsechangelog | sed -ne "s/^Version: \(.*\)/\1/p" | sed "s/-[^-]*$$//" )
DEB_DH_GENCONTROL_ARGS_ALL := -- -c$(CURDIR)/debian/control.new

clean::
	$(MAKE) clean
	$(RM) $(CURDIR)/debian/control.new

build:
	if [ -f /etc/maemo_version ]; then \
		$(MAKE) all starextract CXXFLAGS="-O2 -W -Wall -fsigned-char -Wno-write-strings" LDFLAGS="-lz -lpng -lm" GTKFLAGS="$(shell pkg-config --cflags --libs hildon-1 gtk+-2.0)"; \
	else \
		$(MAKE); \
	fi
	
install/stargus::
	convert $(CURDIR)/contrib/stargus.ico $(CURDIR)/debian/stratagus/usr/share/pixmaps/stargus.png
	if [ -f /etc/maemo_version ]; then \
		install -m0755 starextract $(CURDIR)/debian/stargus/usr/games; \
	fi

binary-fixup/stargus::
	if [ -f /etc/maemo_version ]; then \
		mkdir -p $(CURDIR)/debian/stargus/usr/share/applications/hildon; \
		mkdir -p $(CURDIR)/debian/stargus/opt/stratagus/bin; \
		mkdir -p $(CURDIR)/debian/stargus/opt/stratagus/share/doc; \
		mkdir -p $(CURDIR)/debian/stargus/opt/man/man6; \
		mv $(CURDIR)/debian/stargus/usr/games/* $(CURDIR)/debian/stargus/opt/stratagus/bin/; \
		mv $(CURDIR)/debian/stargus/usr/share/doc/stargus $(CURDIR)/debian/stargus/opt/stratagus/share/doc/; \
		mv $(CURDIR)/debian/stargus/usr/share/games/stratagus/stargus $(CURDIR)/debian/stargus/opt/stratagus/share/; \
		mv $(CURDIR)/debian/stargus/usr/share/man/man6/* $(CURDIR)/debian/stargus/opt/man/man6/; \
		mv $(CURDIR)/debian/stargus/usr/share/applications/stargus.desktop $(CURDIR)/debian/stargus/usr/share/applications/hildon/stargus.desktop; \
		ln -s /opt/stratagus/bin/starextract $(CURDIR)/debian/stargus/usr/games/starextract; \
		ln -s /opt/stratagus/bin/startool $(CURDIR)/debian/stargus/usr/games/startool; \
		ln -s /opt/stratagus/bin/stargus $(CURDIR)/debian/stargus/usr/games/stargus; \
		ln -s /opt/stratagus/share/stargus $(CURDIR)/debian/stargus/usr/share/games/stratagus/stargus; \
		ln -s /opt/stratagus/share/doc/stargus $(CURDIR)/debian/stargus/usr/share/doc/stargus; \
		ln -s /opt/man/man6/stargus.6.gz $(CURDIR)/debian/stargus/usr/share/man/man6/stargus.6.gz; \
		ln -s /opt/man/man6/startool.6.gz $(CURDIR)/debian/stargus/usr/share/man/man6/startool.6.gz; \
		echo "X-Osso-Type=application/x-executable" >> $(CURDIR)/debian/stargus/usr/share/applications/hildon/stargus.desktop; \
		sed "s/Exec=.*/Exec=\/opt\/stratagus\/bin\/stargus/" -i $(CURDIR)/debian/stargus/usr/share/applications/hildon/stargus.desktop; \
		sed "s/Name=.*/Name=Stargus/" -i $(CURDIR)/debian/stargus/usr/share/applications/hildon/stargus.desktop; \
	fi

binary-predeb/stargus::
	echo "stratagus:Depends=stratagus (>= $(VERSION))" >> $(CURDIR)/debian/stargus.substvars
	cp $(CURDIR)/debian/control $(CURDIR)/debian/control.new
	if [ -f /etc/maemo_version ]; then \
		sed -n -e "1,/^Depends:.*$$/p" $(CURDIR)/debian/control > $(CURDIR)/debian/control.new; \
		sed "s/Section: .*/Section: user\/games/" -i $(CURDIR)/debian/control.new; \
		echo "XSBC-Bugtracker: https://bugs.launchpad.net/stargus" >> $(CURDIR)/debian/control.new; \
		echo "XB-Maemo-Display-Name: Stargus - Starcraft" >> $(CURDIR)/debian/control.new; \
		echo "XB-Maemo-Icon-26:" >> $(CURDIR)/debian/control.new; \
		for line in $(shell convert $(CURDIR)/contrib/stargus.ico -resize 48x48 png:- | uuencode -m - | tail -n +2 | head -n -1); do \
			echo " $$line" >> $(CURDIR)/debian/control.new; \
		done; \
		sed "/^# Source debconf library$$/d;/^. \/usr\/share\/debconf\/confmodule$$/d" -i $(CURDIR)/debian/stargus/DEBIAN/postinst; \
		bash -c 'sed -n -e "1,/^extract() {$$/p;/^}$$/,\$$p;/extract()/a\\`echo -e "\n\t"`cd /opt/stratagus/share/stargus\\`echo -e "\n\t"`run-standalone.sh /opt/stratagus/bin/starextract\\`echo -e "\n\t"`return $$\?" -i $(CURDIR)/debian/stargus/DEBIAN/postinst'; \
		rm -f $(CURDIR)/debian/stargus/DEBIAN/config; \
		rm -f $(CURDIR)/debian/stargus/DEBIAN/templates; \
		sed -n -e "/^Depends:.*$$/,\$$p" $(CURDIR)/debian/control | tail -n +2 >> $(CURDIR)/debian/control.new; \
	fi
