[Desktop Entry]
Name=Stargus
Comment=Stratagus Starcraft data set
Exec=/usr/games/stargus
Icon=stargus.png
Terminal=false
Type=Application
Categories=Game;StrategyGame;
StartupNotify=false
